		<div class='locationTooltip'>
			<h4>{{name}}</h4>
			<p>{{phone}}</p>
			<p>{{address}}</p>
			<p>{{hours}}</p>
			<img id='streetview' src='http://maps.googleapis.com/maps/api/streetview?size=80x80&location={{lat}},{{lng}}&sensor=false'/> 
		</div>


